.mycontainer {
  margin-left: 6rem;
  padding: 1rem;
  /* padding-left: 4rem; */
  /* margin-right: 0; */
  padding-left: 5rem;
  padding-top: 5rem;
  width: 90%;
}
.myb {
  background-color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border: solid 1px gainsboro;
}
.clicked {
  border-top: solid violet;
  border-bottom: transparent;
  border-left: transparent;
  border-right: transparent;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}
.bc {
  padding: 0;
}
.cont {
  margin-top: 1rem;
}
.br {
  height: 36px;
  width: 100%px;
}
.ci {
  width: 100%;
  margin-bottom: 1rem;
}
.tab-content {
  margin-top: 2rem;
  margin-left: 5rem;
}
.hidden {
  display: none;
}
.tab {
  color: gray !important;
}
.selected {
  color: turquoise !important;
  border-bottom: solid turquoise !important;
}
.tab-content h3 {
  color: turquoise !important;
}
.tstyle {
  border-collapse: collapse;
  width: 100%;
}
.t1dstyle {
  width: 50%;
  background-color: #ffe086;
  border: 1px solid #eaeaea;
}
.t2dstyle {
  width: 50%;
  background-color: #ffffde !important;
  border: 1px solid #eaeaea !important;
}

/* Dropdowen menu styling */
#schemePageEvent {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
#schemePageEvent nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#schemePageEvent nav ul li {
  float: left;
  width: 100%;
}
#schemePageEvent nav ul li a {
  display: block;
  background: turquoise;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
#schemePageEvent nav ul li ul li a {
  background: #f0f0f0;
  border-left: 4px solid transparent;
  padding: 10px 20px;
  color: #50504f;
}
*,
::after,
::before {
  box-sizing: border-box;
}
#schemePageEvent .sub-menu > a {
  background: white;
  float: left;
  width: 100%;
}
.menuicon {
  display: inline-block;
  margin: 10px 5px;
}
#eventImg {
  width: 30%;
  /* float: left; */
  display: inline-block;
  height: 100%;
}
#schemePageEvent img {
  width: 100%;
  height: 100%;
}
#eventText {
  width: 50%;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#schemePageEvent img {
  width: 100%;
  height: 100%;
}
footer {
  background-color: gray;
  width: 100%;
  height: 50px;
  bottom: 0;
  margin-left: 80px;
  margin-top: 2rem;
  box-shadow: 0 50vh 0 50vh gray;
}
footer span {
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  /* background-color: white; */
}

footer span a {
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
footer p {
  padding: 14px 16px;
}
footer,
.mycontainer,
h6 {
  font-size: 13px !important;
}
@media (min-width: 768px) {
  .container {
    max-width: 85% !important;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 85% !important;
  }
}
