.navbar {
  background: turquoise;
  position: fixed;
  width: 80px;
  height: 100%;
  top: 84px;
}
.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: 2rem;
  gap: 1rem;
}
.navbar-item {
  width: 100%;
}
.navbar-link {
  display: block;
  height: 3rem;
  text-decoration: none;
  color: white;
}
.navbar-link svg {
  height: 50%;
  display: block;
  min-width: 2rem;
  margin: 0 1.5rem;
}
.link-text {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;
}
.container {
  margin-left: 5rem;
  padding: 1rem;
}
