* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0 !important;
}
.App-header {
  margin: 0;
  padding: 0;
  position: fixed;
  background: #22242a;
  width: 100%;
  overflow: hidden;
  height: 66px;
  background: url(./images/header_bg.png) repeat-x left top transparent;
  border-bottom: 1px solid gainsboro;
  display: block !important;
}
.App-header ul {
  list-style-type: none;
  height: 100%;
  padding-right: 3rem;
}
.App-logo {
  max-width: 650px;
  float: left;
}
.size_small {
  font-size: 12px;
}
.size_middle {
  font-size: 16px;
}
.size_large {
  font-size: 21px;
}
.site_control {
  display: flex;
  align-items: center;
  float: right;
  padding-right: 65px;
  height: 100%;
}
.site_control > * {
  height: 24px;
  float: left;
  border-right: 1px solid #ededed;
  color: #797979;
  text-decoration: none;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.click {
  vertical-align: text-bottom;
}

.bicon {
  font-size: 120% !important;
}

.licon {
  height: 100%;
  float: right;
  padding: 0 1px;
}
.lilang {
  height: 100%;
  float: right;
  padding: 0 8px;
  padding-top: 21px;
}
.lislash {
  float: right;
  padding: 0 0rem;
  padding-top: 20px;
  height: 100%;
}

.licon a {
  display: block;
  color: #333;
  text-align: center;
  text-decoration: none;
  font-size: 100% !important;
  background-color: transparent;
  border: transparent;
}

.btn2 {
  font-size: 100% !important;

  border: 0 !important;
}
